@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.electron {
  animation-name: rotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
